/*
gg-user
gg-password
gg-facebook
gg-twitter
gg-menu
gg-shopping-cart
gg-google
gg-microsoft
gg-trash
*/

.gg-user {display: block;transform: scale(var(--ggs,1));box-sizing: border-box;width: 12px;height: 18px}
.gg-user::after,.gg-user::before {content: "";display: block;box-sizing: border-box;position: absolute;border: 2px solid}
.gg-user::before {width: 8px;height: 8px;border-radius: 30px;top: 0;left: 2px}
.gg-user::after {width: 12px;height: 9px;border-bottom: 0;border-top-left-radius: 3px;border-top-right-radius: 3px;top: 9px} 
.gg-password {box-sizing: border-box;position: relative;display: block;transform: scale(var(--ggs,1));width: 30px;height: 12px;border: 2px solid;border-radius: 3px}
.gg-password::after,.gg-password::before {content: "";display: block;box-sizing: border-box;position: absolute;width: 4px;background: currentColor}
.gg-password::before {left: 2px;top: 2px;box-shadow:6px 0 0,12px 0 0;height: 4px;border-radius: 100%}
.gg-password::after {height: 2px;right: 2px;bottom: 2px} 
.gg-facebook {box-sizing: border-box;position: relative;display: block;transform: scale(var(--ggs,1));width: 20px;height: 20px}
.gg-facebook::after,.gg-facebook::before {content: "";display: block;position: absolute;box-sizing: border-box}
.gg-facebook::before {  width: 8px;height: 20px;border-left: 4px solid;border-top: 4px solid;border-top-left-radius: 5px;left: 6px}
.gg-facebook::after {width: 10px;height: 4px;background: currentColor;top: 7px;left: 4px;transform: skew(-5deg)} 
.gg-twitter {box-sizing: border-box;position: relative;display: block;transform: scale(var(--ggs,1));width: 20px;height: 20px}
.gg-twitter::after,.gg-twitter::before {content: "";display: block;position: absolute;box-sizing: border-box;left: 4px}
.gg-twitter::before {  width: 9px;height: 14px;border-left: 4px solid;border-bottom: 4px solid;border-bottom-left-radius: 6px;background:linear-gradient(to left,currentColor 12px,transparent 0) no-repeat center 2px/10px 4px;top: 4px}
.gg-twitter::after {width: 4px;height: 4px;background: currentColor;border-radius: 20px;top: 2px;box-shadow: 7px 4px 0,7px 12px 0} 
.gg-menu {transform: scale(var(--ggs,1))}
.gg-menu,.gg-menu::after,.gg-menu::before {box-sizing: border-box;position: relative;display: block;width: 20px;height: 2px;border-radius: 3px;background: currentColor}
.gg-menu::after,.gg-menu::before {content: "";position: absolute;  top: -6px}
.gg-menu::after {top: 6px} 
.gg-shopping-cart {display: block;box-sizing: border-box;position: relative;transform: scale(var(--ggs,1));width: 20px;height: 21px;background:
  linear-gradient(to left,currentColor 12px,transparent 0) no-repeat -1px 6px/18px 2px,
  linear-gradient(to left,currentColor 12px,transparent 0) no-repeat 6px 14px/11px 2px,
  linear-gradient(to left,currentColor 12px,transparent 0) no-repeat 0 2px/4px 2px,
  radial-gradient(circle,currentColor 60%,transparent 40%) no-repeat 12px 17px/4px 4px,
  radial-gradient(circle,currentColor 60%,transparent 40%) no-repeat 6px 17px/4px 4px
 }
.gg-shopping-cart::after,
.gg-shopping-cart::before {content: "";display: block;position: absolute;box-sizing: border-box;width: 2px;height: 14px;background: currentColor;top: 2px;left: 4px;transform: skew(12deg)}
.gg-shopping-cart::after {height: 10px;top: 6px;left: 16px;transform: skew(-12deg)} 
.gg-google,.gg-google::before {box-sizing: border-box;display: block}
.gg-google {position: relative;transform: scale(var(--ggs,1));width: 20px;height: 20px;border: 4px solid;border-right-color: transparent;border-radius: 22px}
.gg-google::before {content: "";position: absolute;border-top: 4px solid;border-right: 4px solid;border-bottom: 4px solid;border-radius: 0 0 10px 0;width: 10px;height: 12px;right: -4px;bottom: -4px;} 
.gg-microsoft {transform: scale(var(--ggs,1))}
.gg-microsoft,.gg-microsoft::after,.gg-microsoft::before {box-sizing: border-box;position: relative;display: block;width: 18px;height: 18px}
.gg-microsoft::after,.gg-microsoft::before {content: "";position: absolute;width: 8px;border-top: 8px solid;border-bottom: 8px solid}
.gg-microsoft::after {right: 0} 
.gg-trash {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow:
  0 0 0 2px,
  inset -2px 0 0,
  inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px
 }
 
 .gg-trash::after,
 .gg-trash::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
 }
 
 .gg-trash::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px
 }
 
 .gg-trash::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px
 } 